.cache/
.history/
.npm/
dist/
monitor/
node_modules/
.eslintcache
.stylelintcache
*.log
*-debug.log*
*-error.log*
stats.html
stats.json
.DS_Store
.idea/workspace.xml
.idea/watcherTasks.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/gantt-chart.iml
.idea/deployment.xml
.idea/$CACHE_FILE$
