.cache/
.history/
.npm/
dist/
monitor/
node_modules/
.eslintcache
.stylelintcache
*.log
*-debug.log*
*-error.log*
stats.html
stats.json
.DS_Store
.idea/
packages/ibm-gantt-chart-react/package.json
packages/ibm-gantt-chart/package.json
yarn.lock
*.lock
